/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
    list-style: none;
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 60px;
}

h3 {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

input, textarea {
    border: 1px solid #dee7ec;
    margin-bottom: 30px;
    padding: 20px;
    width: 400px;
}

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.main {
    padding-left: 80px;
    padding-right: 80px;
}

.main-box {
    padding-top: 100px;
}

.main-catch-copy span {
    color: #ff4a4a;
}

.main-contents {
    height: 500px;
}

.contents-item {
    float: left;
    padding-right: 40px;
}

.contents-item p {
    font-size: 24px;
    padding-top: 30px;
}

.main-contact-form {
    padding-bottom: 100px;
}

.main-contact-form p {
    padding-bottom: 10px;
}

.submit-button {
    background-color: #dee7ec;
    color: #889eab;
    font-size: 18px;
}

.footer {
    background-color: #2f5167;
    color: #ffffff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}
